{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Ancillary
    </title>
</head>

<body>
    <br>
    <h2 class="heading">Manipulators:</h2>
    <br>
    <p class='text'><span class='subtext'>git-config</span><br>
        Get and set repository or global options
    </p>
    <br>
    <p class='text'><span class='subtext'>git-fast-export</span><br>
        Git data exporter
    </p>
    <br>
    <p class='text'><span class='subtext'>git-fast-import</span><br>
        Backend for fast Git data importers
    </p>
    <br>
    <p class='text'><span class='subtext'>git-filter-branch</span><br>
        Rewrite branches
    </p>
    <br>
    <p class='text'><span class='subtext'>git-mergetool</span><br>
        Run merge conflict resolution tools to resolve merge conflicts
    </p>
    <br>
    <p class='text'>p><span class='subtext'>git-pack-refs</span><br>
        Pack heads and tags for efficient repository access
    </p>
    <br>
    <p class='text'><span class='subtext'>git-prune</span><br>
        Prune all unreachable objects from the object database
    </p>
    <br>
    <p class='text'><span class='subtext'>git-reflog</span><br>
        Manage reflog information
    </p>
    <br>
    <p class='text'><span class='subtext'>git-remote</span><br>
        Manage set of tracked repositories
    </p>
    <br>
    <p class='text'><span class='subtext'>git-repack</span><br>
        Pack unpacked objects in a repository
    </p>
    <br>
    <p class='text'><span class='subtext'>git-replace</span><br>
        Create, list, delete refs to replace objects
    </p>
    <br>
    <h2 class="heading">Interrogators:</h2>
    <br>
    <p class='text'><span class='subtext'>git-annotate</span><br>
        Annotate file lines with commit information
    </p>
    <br>
    <p class='text'><span class='subtext'>git-blame</span><br>
        Show what revision and author last modified each line of a file
    </p>
    <br>
    <p class='text'><span class='subtext'>git-bugreport</span><br>
        Collect information for user to file a bug report
    </p>
    <br>
    <p class='text'><span class='subtext'>git-count-objects</span><br>
        Count unpacked number of objects and their disk consumption
    </p>
    <br>
    <p class='text'><span class='subtext'>git-difftool</span><br>
        Show changes using common diff tools
    </p>
    <br>
    <p class='text'><span class='subtext'>git-fsck</span><br>
        Verifies the connectivity and validity of the objects in the database
    </p>
    <br>
    <p class='text'><span class='subtext'>it-help</span><br>
        Display help information about Git
    </p>
    <br>
    <p class='text'><span class='subtext'>git-instaweb</span><br>
        Instantly browse your working repository in gitweb
    </p>
    <br>
    <p class='text'><span class='subtext'>git-merge-tree</span><br>
        Show three-way merge without touching index
    </p>
    <br>
    <p class='text'><span class='subtext'>git-rerere</span><br>
        Reuse recorded resolution of conflicted merges
    </p>
    <br>
    <p class='text'><span class='subtext'>git-show-branch</span><br>
        Show branches and their commits
    </p>
    <br>
    <p class='text'><span class='subtext'>git-verify-commit</span><br>
        Check the GPG signature of commits
    </p>
    <br>
    <p class='text'><span class='subtext'>git-verify-tag</span><br>
        Check the GPG signature of tags
    </p>
    <br>
    <p class='text'><span class='subtext'>git-whatchanged</span><br>
        Show logs with difference each commit introduces
    </p>
    <br>
    <p class='text'><span class='subtext'>gitweb</span><br>
        Git web interface (web frontend to Git repositories)
    </p>
</body>

</html>

{% endblock %}