<html>
    <head>
        <title>
            Ancillary
        </title>
    </head>
    <body>
        <h2 style="color:orangered">Manipulators:</h2>

    <p class = 'text'>git-config<br>
        Get and set repository or global options
    </p>

    <p class = 'text'>git-fast-export<br>
        Git data exporter
    </p>

    <p class = 'text'>git-fast-import<br>
        Backend for fast Git data importers
    </p>

    <p class = 'text'>git-filter-branch<br>
        Rewrite branches
    </p>

    <p class = 'text'>git-mergetool<br>
        Run merge conflict resolution tools to resolve merge conflicts
    </p>

    <p class = 'text'>p>git-pack-refs<br>
        Pack heads and tags for efficient repository access
    </p>

    <p class = 'text'>git-prune<br>
        Prune all unreachable objects from the object database
    </p>

    <p class = 'text'>git-reflog<br>
        Manage reflog information
    </p>

    <p class = 'text'>git-remote<br>
        Manage set of tracked repositories
    </p>

    <p class = 'text'>git-repack<br>
        Pack unpacked objects in a repository
    </p>

    <p class = 'text'>git-replace<br>
        Create, list, delete refs to replace objects
    </p>
    <h2 style="color:orangered">Interrogators:</h2>

    <p class = 'text'>git-annotate<br>
        Annotate file lines with commit information
    </p>

    <p class = 'text'>git-blame<br>
        Show what revision and author last modified each line of a file
    </p>

    <p class = 'text'>git-bugreport<br>
        Collect information for user to file a bug report
    </p>

    <p class = 'text'>git-count-objects<br>
        Count unpacked number of objects and their disk consumption
    </p>

    <p class = 'text'>git-difftool<br>
        Show changes using common diff tools
    </p>

    <p class = 'text'>git-fsck<br>
        Verifies the connectivity and validity of the objects in the database
    </p>

    <p class = 'text'>it-help<br>
        Display help information about Git
    </p>

    <p class = 'text'>git-instaweb<br>
        Instantly browse your working repository in gitweb
    </p>

    <p class = 'text'>git-merge-tree<br>
        Show three-way merge without touching index
    </p>

    <p class = 'text'>git-rerere<br>
        Reuse recorded resolution of conflicted merges
    </p>

    <p class = 'text'>git-show-branch<br>
        Show branches and their commits
    </p>

    <p class = 'text'>git-verify-commit<br>
        Check the GPG signature of commits
    </p>

    <p class = 'text'>git-verify-tag<br>
        Check the GPG signature of tags
    </p>

    <p class = 'text'>git-whatchanged<br>
        Show logs with difference each commit introduces
    </p>

    <p class = 'text'>gitweb<br>
        Git web interface (web frontend to Git repositories)
    </p>
    </body>
</html>