{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Helper
    </title>
</head>

<body>
    <br>
    <h2 class="heading">Internal helper commands</h2><br>
    <span class = "text">These are internal helper commands used by other commands; end users typically do not use them directly.</span>
    <br><br>
    <p class='text'><span class="subtext">git-check-attr</span><br>
        Display gitattributes information
    </p>
    <br>
    <p class='text'><span class="subtext">git-check-ignore</span><br>
        Debug gitignore / exclude files
    </p>
    <br>
    <p class='text'><span class="subtext">git-check-mailmap</span><br>
        Show canonical names and email addresses of contacts
    </p>
    <br>
    <p class='text'><span class="subtext">git-check-ref-format</span><br>
        Ensures that a reference name is well formed
    </p>
    <br>
    <p class='text'><span class="subtext">git-column</span><br>
        Display data in columns
    </p>
    <br>
    <p class='text'><span class="subtext">git-credential</span><br>
        Retrieve and store user credentials
    </p>
    <br>
    <p class='text'><span class="subtext">git-credential-cache</span><br>
        Helper to temporarily store passwords in memory
    </p>
    <br>
    <p class='text'><span class="subtext">git-credential-store</span><br>
        Helper to store credentials on disk
    </p>
    <br>
    <p class='text'><span class="subtext">git-fmt-merge-msg</span><br>
        Produce a merge commit message
    </p>
    <br>
    <p class='text'><span class="subtext">git-interpret-trailers</span><br>
        Add or parse structured information in commit messages
    </p>
    <br>
    <p class='text'><span class="subtext">git-mailinfo</span><br>
        Extracts patch and authorship from a single e-mail message
    </p>
    <br>
    <p class='text'><span class="subtext">git-mailsplit</span><br>
        Simple UNIX mbox splitter program
    </p>
    <br>
    <p class='text'><span class="subtext">git-merge-one-file</span><br>
        The standard helper program to use with git-merge-index
    </p>
    <br>
    <p class='text'><span class="subtext">git-patch-id</span><br>
        Compute unique ID for a patch
    </p>
    <br>
    <p class='text'><span class="subtext">git-sh-i18n</span><br>
        Git’s i18n setup code for shell scripts
    </p>
    <br>
    <p class='text'><span class="subtext">git-sh-setup</span><br>
        Common Git shell script setup code
    </p>
    <br>
    <p class='text'><span class="subtext">git-stripspace</span><br>
        Remove unnecessary whitespace
    </p>
</body>

</html>

{% endblock %}