{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Interaction
    </title>
</head>

<body>
    <br>
    <h2 class="heading">Interacting with Others</h2>
    
    <span class="text">These commands are to interact with foreign SCM and with other people via patch over e-mail.</span>
    <br>
    <br>
    <p class='text'><span class="subtext">git-archimport</span><br>
        Import a GNU Arch repository into Git
    </p>
    <br>
    <p class='text'><span class="subtext">git-cvsexportcommit</span><br>
        Export a single commit to a CVS checkout
    </p>
    <br>
    <p class='text'><span class="subtext">git-cvsimport</span><br>
        Salvage your data out of another SCM people love to hate
    </p>
    <br>
    <p class='text'><span class="subtext">git-cvsserver</span><br>
        A CVS server emulator for Git
    </p>
    <br>
    <p class='text'><span class="subtext">git-imap-send</span><br>
        Send a collection of patches from stdin to an IMAP folder
    </p>
    <br>
    <p class='text'><span class="subtext">git-p4</span><br>
        Import from and submit to Perforce repositories
    </p>
    <br>
    <p class='text'><span class="subtext">git-quiltimport</span><br>
        Applies a quilt patchset onto the current branch
    </p>
    <br>
    <p class='text'><span class="subtext">git-request-pull</span><br>
        Generates a summary of pending changes
    </p>
    <br>
    <p class='text'><span class="subtext">git-send-email</span><br>
        Send a collection of patches as emails
    </p>
    <br>
    <p class='text'><span class="subtext">git-svn</span><br>
        Bidirectional operation between a Subversion repository and Git
    </p>
</body>

</html>
{% endblock %}