<html>

<head>
    <title>
        Interaction
    </title>
</head>

<body>
    <h2 style="color:orangered">Interacting with Others</h2>
    <br>
    These commands are to interact with foreign SCM and with other people via patch over e-mail.

    <p class = 'text'>git-archimport<br>
        Import a GNU Arch repository into Git
    </p>

    <p class = 'text'>git-cvsexportcommit<br>
        Export a single commit to a CVS checkout
    </p>

    <p class = 'text'>git-cvsimport<br>
        Salvage your data out of another SCM people love to hate
    </p>

    <p class = 'text'>git-cvsserver<br>
        A CVS server emulator for Git
    </p>

    <p class = 'text'>git-imap-send<br>
        Send a collection of patches from stdin to an IMAP folder
    </p>

    <p class = 'text'>git-p4<br>
        Import from and submit to Perforce repositories
    </p>

    <p class = 'text'>git-quiltimport<br>
        Applies a quilt patchset onto the current branch
    </p>

    <p class = 'text'>git-request-pull<br>
        Generates a summary of pending changes
    </p>

    <p class = 'text'>git-send-email<br>
        Send a collection of patches as emails
    </p>

    <p class = 'text'>git-svn<br>
        Bidirectional operation between a Subversion repository and Git
    </p>
</body>

</html>