<html>

<head>
    <title>
        Interrogation
    </title>
</head>

<body>
    <h2 style="color:orangered">Interrogation commands</h2>
    <p class = 'text'>git-cat-file<br>
        Provide content or type and size information for repository objects
    </p>

    <p class = 'text'>git-cherry<br>
        Find <commits yet to be applied to upstream </p>

            <p class = 'text'>git-diff-files<br>
                Compares files in the working tree and the index
            </p>

            <p class = 'text'>git-diff-index<br>
                Compare a tree to the working tree or index
            </p>

            <p class = 'text'>git-diff-tree<br>
                Compares the content and mode of blobs found via two tree objects
            </p>

            <p class = 'text'>git-for-each-ref<br>
                Output information on each ref
            </p>

            <p class = 'text'>git-for-each-repo<br>
                Run a Git command on a list of repositories
            </p>

            <p class = 'text'>git-get-tar-commit-id<br>
                Extract commit ID from an archive created using git-archive
            </p>

            <p class = 'text'>git-ls-files<br>
                Show information about files in the index and the working tree
            </p>

            <p class = 'text'>git-ls-remote<br>
                List references in a remote repository
            </p>

            <p class = 'text'>git-ls-tree<br>
                List the contents of a tree object
            </p>

            <p class = 'text'>git-merge-base<br>
                Find as good common ancestors as possible for a merge
            </p>

            <p class = 'text'>git-name-rev<br>
                Find symbolic names for given revs
            </p>

            <p class = 'text'>git-pack-redundant<br>
                Find redundant pack files
            </p>

            <p class = 'text'>git-rev-list<br>
                Lists commit objects in reverse chronological order
            </p>

            <p class = 'text'>git-rev-parse<br>
                Pick out and massage parameters
            </p>

            <p class = 'text'>git-show-index<br>
                Show packed archive index
            </p>

            <p class = 'text'>git-show-ref<br>
                List references in a local repository
            </p>

            <p class = 'text'>git-unpack-file<br>
                Creates a temporary file with a blob’s contents
            </p>

            <p class = 'text'>git-var<br>
                Show a Git logical variable
            </p>

            <p class = 'text'>git-verify-pack<br>
                Validate packed Git archive files
            </p>
            <br>
            In general, the interrogate commands do not touch the files in the working tree.
</body>

</html>