{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Manipulation
    </title>
</head>

<body>
    <br>
    <h2 class='heading'>Manipulation commands</h2>
    <br>
    <p class='text'><span class="subtext">git-apply</span><br>
        Apply a patch to files and/or to the index
    </p>
    <br>
    <p class='text'><span class="subtext">git-checkout-index</span><br>
        Copy files from the index to the working tree
    </p>
    <br>
    <p class='text'><span class="subtext">git-commit-graph</span><br>
        Write and verify Git commit-graph files
    </p>
    <br>
    <p class='text'><span class="subtext">git-commit-tree</span><br>
        Create a new commit object
    </p>
    <br>
    <p class='text'><span class="subtext">git-hash-object</span><br>
        Compute object ID and optionally creates a blob from a file
    </p>
    <br>
    <p class='text'><span class="subtext">git-index-pack</span><br>
        Build pack index file for an existing packed archive
    </p>
    <br>
    <p class='text'><span class="subtext">git-merge-file</span><br>
        Run a three-way file merge
    </p>
    <br>
    <p class='text'><span class="subtext">git-merge-index</span><br>
        Run a merge for files needing merging
    </p>
    <br>
    <p class='text'><span class="subtext">git-mktag</span><br>
        Creates a tag object with extra validation
    </p>
    <br>
    <p class='text'><span class="subtext">git-mktree</span><br>
        Build a tree-object from ls-tree formatted text
    </p>
    <br>
    <p class='text'><span class="subtext">git-multi-pack-index</span><br>
        Write and verify multi-pack-indexes
    </p>
    <br>
    <p class='text'><span class="subtext">git-pack-objects</span><br>
        Create a packed archive of objects
    </p>
    <br>
    <p class='text'><span class="subtext">git-prune-packed</span><br>
        Remove extra objects that are already in pack files
    </p>
    <br>
    <p class='text'><span class="subtext">git-read-tree</span><br>
        Reads tree information into the index
    </p>
    <br>
    <p class='text'><span class="subtext">git-symbolic-ref</span><br>
        Read, modify and delete symbolic refs
    </p>
    <br>
    <p class='text'><span class="subtext">git-unpack-objects</span><br>
        Unpack objects from a packed archive
    </p>
    <br>
    <p class='text'><span class="subtext">git-update-index</span><br>
        Register file contents in the working tree to the index
    </p>
    <br>
    <p class='text'><span class="subtext">git-update-ref</span><br>
        Update the object name stored in a ref safely
    </p>
    <br>
    <p class='text'><span class="subtext">git-write-tree</span><br>
        Create a tree object from the current index
    </p>

</body>

</html>
{% endblock %}