<html>

<head>
    <title>
        Manipulation
    </title>
</head>

<body>
    <h2 style="color:orangered">Manipulation commands</h2>
    <p class = 'text'>git-apply<br>
        Apply a patch to files and/or to the index
    </p>

    <p class = 'text'>git-checkout-index<br>
        Copy files from the index to the working tree
    </p>

    <p class = 'text'>git-commit-graph<br>
        Write and verify Git commit-graph files
    </p>

    <p class = 'text'>git-commit-tree<br>
        Create a new commit object
    </p>

    <p class = 'text'>git-hash-object<br>
        Compute object ID and optionally creates a blob from a file
    </p>

    <p class = 'text'>git-index-pack<br>
        Build pack index file for an existing packed archive
    </p>

    <p class = 'text'>git-merge-file<br>
        Run a three-way file merge
    </p>

    <p class = 'text'>git-merge-index<br>
        Run a merge for files needing merging
    </p>

    <p class = 'text'>git-mktag<br>
        Creates a tag object with extra validation
    </p>

    <p class = 'text'>git-mktree<br>
        Build a tree-object from ls-tree formatted text
    </p>

    <p class = 'text'>git-multi-pack-index<br>
        Write and verify multi-pack-indexes
    </p>

    <p class = 'text'>git-pack-objects<br>
        Create a packed archive of objects
    </p>

    <p class = 'text'>git-prune-packed<br>
        Remove extra objects that are already in pack files
    </p>

    <p class = 'text'>git-read-tree<br>
        Reads tree information into the index
    </p>

    <p class = 'text'>git-symbolic-ref<br>
        Read, modify and delete symbolic refs
    </p>

    <p class = 'text'>git-unpack-objects<br>
        Unpack objects from a packed archive
    </p>

    <p class = 'text'>git-update-index<br>
        Register file contents in the working tree to the index
    </p>

    <p class = 'text'>git-update-ref<br>
        Update the object name stored in a ref safely
    </p>

    <p class = 'text'>git-write-tree<br>
        Create a tree object from the current index
    </p>

</body>

</html>