{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Porcelain
    </title>
</head>

<body>
    <br>
    <h2 class='heading'>Porcelain commands</h2>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-add">git-add</a></span><br>
        Add file contents to the index
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-am">git-am</a></span><br>
        Apply a series of patches from a mailbox
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-archive">git-archive</a></span><br>
        Create an archive of files from a named tree
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-bisect">git-bisect</a></span><br>
        Use binary search to find the commit that introduced a bug
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-branch">git-branch</a></span><br>
        List, create, or delete branches
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="https://git-scm.com/docs/git-bundle">git-bundle</a></span><br>
        Move objects and refs by archive
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-checkout</a></span><br>
        Switch branches or restore working tree files
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-cherry-pick</a></span><br>
        Apply the changes introduced by some existing commits
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-citool</a></span><br>
        Graphical alternative to git-commit
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-clean</a></span><br>
        Remove untracked files from the working tree
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-clone</a></span><br>
        Clone a repository into a new directory
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-commit</a></span><br>
        Record changes to the repository
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-describe</a></span><br>
        Give an object a human readable name based on an available ref
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-diff</a></span><br>
        Show changes between commits, commit and working tree, etc
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-fetch</a></span><br>
        Download objects and refs from another repository
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-format-patch</a></span><br>
        Prepare patches for e-mail submission
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-gc</a></span><br>
        Cleanup unnecessary files and optimize the local repository
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-grep</a></span><br>
        Print lines matching a pattern
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-gui</a></span><br>
        A portable graphical interface to git
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-init</a></span><br>
        Create an empty git repository or reinitialize an existing one
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-log</a></span><br>
        Show commit logs
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-maintenance</a></span><br>
        Run tasks to optimize git repository data
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-merge</a></span><br>
        Join two or more development histories together
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-mv</a></span><br>
        Move or rename a file, a directory, or a symlink
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-notes</a></span><br>
        Add or inspect object notes
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-pull</a></span><br>
        Fetch from and integrate with another repository or a local branch
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-push</a></span><br>
        Update remote refs along with associated objects
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-range-diff</a></span><br>
        Compare two commit ranges (e.g. two versions of a branch)
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-rebase</a></span><br>
        Reapply commits on top of another base tip
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-reset</a></span><br>
        Reset current HEAD to the specified state
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-restore</a></span><br>
        Restore working tree files
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-revert</a></span><br>
        Revert some existing commits
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-rm</a></span><br>
        Remove files from the working tree and from the index
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-shortlog</a></span><br>
        Summarize git log output
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-show</a></span><br>
        Show various types of objects
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-sparse-checkout</a></span><br>
        Initialize and modify the sparse-checkout
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-stash</a></span><br>
        Stash the changes in a dirty working directory away
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-status</a></span><br>
        Show the working tree status
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-submodule</a></span><br>
        Initialize, update or inspect submodules
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-switch</a></span><br>
        Switch branches
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-tag</a></span><br>
        Create, list, delete or verify a tag object signed with GPG
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">git-worktree</a></span><br>
        Manage multiple working trees
    </p>
    <br>
    <p class='text'>
        <span class="subtext"><a href="">gitk</a></span><br>
        The git repository browser
    </p>
</body>

</html>
{% endblock %}