<html>

<head>
    <title>
        Porcelain
    </title>
</head>

<body>
    <h2 style="color:orangered">Porcelain commands</h2>
    <p class = 'text'>git-add<br>
        Add file contents to the index
    </p>

    <p class = 'text'>git-am<br>
        Apply a series of patches from a mailbox
    </p>

    <p class = 'text'>git-archive<br>
        Create an archive of files from a named tree
    </p>

    <p class = 'text'>git-bisect<br>
        Use binary search to find the commit that introduced a bug
    </p>

    <p class = 'text'>git-branch<br>
        List, create, or delete branches
    </p>

    <p class = 'text'>git-bundle
        Move objects and refs by archive
    </p>

    <p class = 'text'>git-checkout<br>
        Switch branches or restore working tree files
    </p>

    <p class = 'text'>git-cherry-pick<br>
        Apply the changes introduced by some existing commits
    </p>

    <p class = 'text'>git-citool<br>
        Graphical alternative to git-commit
    </p>

    <p class = 'text'>git-clean<br>
        Remove untracked files from the working tree
    </p>

    <p class = 'text'>git-clone<br>
        Clone a repository into a new directory
    </p>

    <p class = 'text'>git-commit<br>
        Record changes to the repository
    </p>

    <p class = 'text'>git-describe<br>
        Give an object a human readable name based on an available ref
    </p>

    <p class = 'text'>git-diff<br>
        Show changes between commits, commit and working tree, etc
    </p>

    <p class = 'text'>git-fetch<br>
        Download objects and refs from another repository
    </p>

    <p class = 'text'>git-format-patch<br>
        Prepare patches for e-mail submission
    </p>

    <p class = 'text'>git-gc<br>
        Cleanup unnecessary files and optimize the local repository
    </p>

    <p class = 'text'>git-grep<br>
        Print lines matching a pattern
    </p>

    <p class = 'text'>git-gui<br>
        A portable graphical interface to Git
    </p>

    <p class = 'text'>git-init<br>
        Create an empty Git repository or reinitialize an existing one
    </p>

    <p class = 'text'>git-log<br>
        Show commit logs
    </p>

    <p class = 'text'>git-maintenance<br>
        Run tasks to optimize Git repository data
    </p>

    <p class = 'text'>git-merge<br>
        Join two or more development histories together
    </p>

    <p class = 'text'>git-mv<br>
        Move or rename a file, a directory, or a symlink
    </p>

    <p class = 'text'>git-notes<br>
        Add or inspect object notes
    </p>

    <p class = 'text'>git-pull<br>
        Fetch from and integrate with another repository or a local branch
    </p>

    <p class = 'text'>git-push<br>
        Update remote refs along with associated objects
    </p>

    <p class = 'text'>git-range-diff<br>
        Compare two commit ranges (e.g. two versions of a branch)
    </p>

    <p class = 'text'>git-rebase<br>
        Reapply commits on top of another base tip
    </p>

    <p class = 'text'>git-reset<br>
        Reset current HEAD to the specified state
    </p>

    <p class = 'text'>git-restore<br>
        Restore working tree files
    </p>

    <p class = 'text'>git-revert<br>
        Revert some existing commits
    </p>

    <p class = 'text'>git-rm<br>
        Remove files from the working tree and from the index
    </p>

    <p class = 'text'>git-shortlog<br>
        Summarize git log output
    </p>

    <p class = 'text'>git-show<br>
        Show various types of objects
    </p>

    <p class = 'text'>git-sparse-checkout<br>
        Initialize and modify the sparse-checkout
    </p>

    <p class = 'text'>git-stash<br>
        Stash the changes in a dirty working directory away
    </p>

    <p class = 'text'>git-status<br>
        Show the working tree status
    </p>

    <p class = 'text'>git-submodule<br>
        Initialize, update or inspect submodules
    </p>

    <p class = 'text'>git-switch<br>
        Switch branches
    </p>

    <p class = 'text'>git-tag<br>
        Create, list, delete or verify a tag object signed with GPG
    </p>

    <p class = 'text'>git-worktree<br>
        Manage multiple working trees
    </p>

    <p class = 'text'>gitk<br>
        The Git repository browser
    </p>
</body>

</html>