<html>

<head>
    <title>
        Syncing
    </title>
</head>

<body>
    <h2 style="color:orangered">Syncing repositories</h2>

    <p class = 'text'>git-daemon<br>
        A really simple server for Git repositories
    </p>

    <p class = 'text'>git-fetch-pack<br>
        Receive missing objects from another repository
    </p>

    <p class = 'text'>git-http-backend<br>
        Server side implementation of Git over HTTP
    </p>

    <p class = 'text'>git-send-pack<br>
        Push objects over Git protocol to another repository
    </p>

    <p class = 'text'>git-update-server-info<br>
        Update auxiliary info file to help dumb servers
    </p>

    <p class = 'text'>The following are helper commands used by the above; end users typically do not use them directly.</p>

    <p class = 'text'>git-http-fetch<br>
        Download from a remote Git repository via HTTP
    </p>

    <p class = 'text'>git-http-push<br>
        Push objects over HTTP/DAV to another repository
    </p>

    <p class = 'text'>git-receive-pack<br>
        Receive what is pushed into the repository
    </p>

    <p class = 'text'>git-shell<br>
        Restricted login shell for Git-only SSH access
    </p>

    <p class = 'text'>git-upload-archive<br>
        Send archive back to git-archive
    </p>

    <p class = 'text'>git-upload-pack<br>
        Send objects packed back to git-fetch-pack
    </p>

</body>

</html>