{% extends 'gitt/header.html' %}
{% block content %}

<html>
<style>
    .text {
        font-size: large;
    }


    .subtext {
        font-size: larger;
        color: orangered;
    }

    .heading {
        font-size: xx-large;
        color: orangered;
    }
</style>

<head>
    <title>
        Syncing
    </title>
</head>

<body>
    <h2 class="heading">Syncing repositories</h2>
    <br>
    <p class='text'>
        <span class='subtext'>git-daemon</span><br>
        A really simple server for Git repositories
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-fetch-pack</span><br>
        Receive missing objects from another repository
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-http-backend</span><br>
        Server side implementation of Git over HTTP
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-send-pack</span><br>
        Push objects over Git protocol to another repository
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-update-server-info</span><br>
        Update auxiliary info file to help dumb servers
    </p>
    <br>
    <br>
    <p class='text' style="font-weight:bold">
        The following are helper commands used by the above; end users typically do not use them directly.
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-http-fetch</span><br>
        Download from a remote Git repository via HTTP
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-http-push</span><br>
        Push objects over HTTP/DAV to another repository
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-receive-pack</span><br>
        Receive what is pushed into the repository
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-shell</span><br>
        Restricted login shell for Git-only SSH access
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-upload-archive</span><br>
        Send archive back to git-archive
    </p>
    <br>
    <p class='text'>
        <span class='subtext'>git-upload-pack</span><br>
        Send objects packed back to git-fetch-pack
    </p>

</body>

</html>
{% endblock %}